<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/">Warberg.net</a>

    <ul class="pure-menu-list">
      <li data-bind="css: page() === '/transfer' ? 'pure-menu-selected' : ''" class="pure-menu-item"><a href="/transfer" class="pure-menu-link">Transfer</a></li>
      <li data-bind="css: page() === '/about' ? 'pure-menu-selected' : ''" class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
    </ul>
  </div>
</div>