<div class="content">
  <h2 class="content-head is-center">Transfer</h2>
  <div class="pure-g">

    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
      <button data-bind="click: toggleSend, css: mode() === 'send' ? 'pure-button-disabled' : ''" class="pure-button">Send</button>
      <button data-bind="click: toggleReceive, css: mode() === 'receive' ? 'pure-button-disabled' : ''" class="pure-button">Receive</button>

      <form data-bind="visible: mode() ==='send', submit: startSend" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="file">Select file to send</label>
          <input id="file" type="file" required>

          <label for="email">Recipient</label>
          <input id="email" type="email" required placeholder="Recipient e-mail address">

          <button data-bind="text: submitButtonText, disabled: submitButtonDisabled, css: {'pure-button-disabled': submitButtonDisabled}" type="submit" class="pure-button"></button>
          <label data-bind="text: status"></label>
        </fieldset>
      </form>

      <form data-bind="visible: mode() ==='receive', submit: startReceive" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="file">Enter key</label>
          <input data-bind="value: publicKey" id="publicKey" type="text" required>

          <button data-bind="text: submitButtonText, disabled: submitButtonDisabled, css: {'pure-button-disabled': submitButtonDisabled}" type="submit" class="pure-button"></button>
          <label data-bind="text: status"></label>
        </fieldset>
      </form>
    </div>
  </div>
</div>