<h2>Wishit</h2>
<div class="row">
  <!-- ko with: selectedList -->
  <div class="col m12">
    <!-- ko ifnot: editing -->
    <strong data-bind="text:name,click:edit"></strong>
    <!-- /ko -->
    <!-- ko if: editing -->
    <div class="col s12">
      <input-field params="type:'text',value:name,text:'Name of wishlist',hasFocus:editing"></input-field>
    </div>
    <!-- /ko -->
  </div>
  <div class="row">
    <div class="col s6">
      <a data-bind="click:createNew" class="waves-effect waves-light btn">
        <i class="material-icons left"></i>Add wish
      </a>
    </div>
    <div class="col s3">
      <a data-bind="click:$component.save" class="waves-effect waves-light btn">
        <i class="material-icons left"></i>Save list
      </a>
    </div>
    <div class="col s3">
      <a data-bind="click:$component.createNew" class="waves-effect waves-light btn">
        <i class="material-icons left"></i>New list
      </a>
    </div>
    <div class="col s12 collection" data-bind="foreach:sortedItems">
      <div class="row collection-item">
        <div class="col s1">
          <p data-bind="text: priority"></p>
        </div>
        <div class="col s6">
          <!-- ko ifnot: editing -->
          <p data-bind="text:name,click:edit"></p>
          <!-- /ko -->
          <!-- ko if: editing -->
          <input-field params="type:'text',value:name,text:'Wish short description',hasFocus:editing"></input-field>
          <!-- /ko -->
        </div>
        <span class="badge">
          <a data-bind="click:$parents[0].remove">
            remove
          </a>
        </span>
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
</div>
